<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
		<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>		
		<style type="text/css" media="screen">
			.app-footer {
				font-size: x-small;
				text-align: center;
			}
			
			.app-icon {
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			
			<div data-role="page"> 
				<div data-role="header"><h1>App Store</h1></div> 
				<div data-role="content">
					<ul data-role="listview" data-filter="true">
						<% @mfs.each do |mf| %>
						<li>
							<img class="app-icon" src="<%= base_url %>/apps/<%= mf['name'] %>/display-image-57x57.png"></img>
							<a href="<%= mf['name'] %>">
								<h3><%= mf['display_name'] %></h3>
							</a>
						</li>
						<% end %>
					</ul>
				</div> 
				<div data-role="footer">
					<div class="app-footer">Brian Pfeil</div>
				</div> 
			</div> 
			
			<!-- App detail pages -->
			<% @mfs.each do |mf| %>
			<div data-role="page" id="<%= mf['name'] %>"> 
				<div data-role="header"><h1>Info</h1></div>
				<div data-role="content">
					<img style="float: left; margin-right: 20px;" class="app-icon" src="<%= base_url %>/apps/<%= mf['name'] %>/display-image-57x57.png"></img>
					<h2 style="display: inline;"><%= mf['display_name'] %></h2>
					<div style="margin: 40px"></div>
					<p><%= mf['description']%></p>
					<a data-role="button" href="itms-services://?action=download-manifest&url=<%= base_url %>/mf/<%= mf['name'] %>.plist" rel="external" data-ajax="false">INSTALL</a>
				</div>
			</div> 
			<% end %>

		</div>
	</body>
</html>